@import '../../../../components/style/var.less';
.home-logo-container {
  padding: 5rem 0;
  text-align: center;
  .logo {
    color: @color-primary;
    font-size: 5rem;
  }
}

.home-link-list {
  &>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 .5rem;
    border-bottom: 1px solid #eeeeee;
    height: 4rem;
    color: #333333;
    span {
      flex: 1;
      font-size: 1.6rem;
    }
    .iconfont {
      flex: 0 0 1rem;
    }
    &:active{
      background: @color-border;
    }
  }
}
